# fly.toml app configuration file generated for gl-restore on 2023-08-25T13:31:12+12:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "gl-restore"
primary_region = "syd"

[build]
  image = "gabo71096/restore:latest"

[env]
  ASPNETCORE_URLS="http://+:8080"
  StripeSettings__PublishableKey="pk_test_51NUy1sI45JJ2c4Y2QPDCdSgbwa0icMcu04R0BjzS7SzUowbi5KvL0OkXOqi1NW0Kswi61SSOGALlVTWZtzRBDC1S00MQnYOVYu"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
